<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511936500301-cga9iboo28er3g7ben1ojbidsu7123aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511936500301-cga9iboo28er3g7ben1ojbidsu7123aq</string>
	<key>API_KEY</key>
	<string>AIzaSyBL8-rtsPU3A9A8hcys53YJE_eiJb2Gi2E</string>
	<key>GCM_SENDER_ID</key>
	<string>511936500301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.ScottCalafiore.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-faf58</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-faf58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511936500301:ios:a9bb4b86084b8f552a8204</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-faf58.firebaseio.com</string>
</dict>
</plist>